
<br><br> 

 


<section >
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
        </div>
      </div>
  
      <div class="row text-center">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="../../assets/depositphotos_24112411-stock-photo-happy-man-in-kitchen.jpg"
                  class="rounded-circle shadow-1-strong" width="100" height="100" />
              </div>
              <h5 class="font-weight-bold">JAIME EL CARPINTERO</h5>
              <h6 class="font-weight-bold my-3"></h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i>Hola, mi nombre es Jaime y soy carpintero desde hace más de
                 15 años. Mi negocio había caído en la rutina hasta que conocí Estramipyme, y todo cambió. Gracias 
                 a su metodología fácil y ágil, logré:

              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="../../assets/istockphoto-1311957094-612x612.jpg"
                  class="rounded-circle shadow-1-strong" width="100" height="100" />
              </div>
              <h5 class="font-weight-bold">PEDRO Y SU TIENDA DE ELECTRONICOS</h5>
              <h6 class="font-weight-bold my-3"></h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i>
                Hola, soy Pedro, dueño de una tienda de electrónicos en el centro de la ciudad.
                 Durante muchos años, mi negocio fue estable, pero sentía que no aprovechaba todo
                  su potencial. Necesitaba una nueva perspectiva para crecer y destacarme en un mercado
                   tan competitivo. Fue entonces cuando descubrí Estramipyme.
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="../../assets/istockphoto-1364917563-612x612.jpg"
                  class="rounded-circle shadow-1-strong" width="100" height="100" />
              </div>
              <h5 class="font-weight-bold">SOY JUAN EL DE LA TIENDA</h5>
              <h6 class="font-weight-bold my-3"></h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="far fa-star fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i> Estramipyme me brindó las herramientas para realizar 
                un análisis completo de mi negocio, tanto interno como externo. Esto me permitió identificar 
                mis fortalezas, debilidades, oportunidades y amenazas de manera clara y precisa.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../assets/logo_azul_eafit (1).png" alt="Logo de SLee Dw" width="cover" height="cover">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>ESTRAMIPYME</p>
            <p>Ayudamos hacer tus objetivos realidad</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/universidadeafit" > <img src="../../assets/Añadir_un_subtítulo-removebg-preview (1).png" alt="" width="50%" height="50%"></a>
                <a href="https://www.instagram.com/eafit/" ><img src="../../assets/1-removebg-preview.png" alt=""  width="50%" height="50%"></a>
                <a href="https://www.youtube.com/@ueafit" ><img src="../../assets/2-removebg-preview.png" alt="" width="50%" height="50%" ></a>

            </div>
        </div>
    </div>
    <div class="burbujas">
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
  </div>
</footer>