
<body>
  
    <nav class="navegacion">
      <div>
        <img src="../assets/logo_azul_eafit (1).png" alt="" width="120px" height="70px">
      </div>
      <ul class="nav_menu">


<body>
    <div class="login-form">
     
        <div class="container">
            <div class="main">
                <div class="content">
                    <h2 style="color: aliceblue;">Registrarte</h2>
                    <form class="formulario">
                        <input type="text" [formControl]="name" placeholder="Nombre" name="nombre" id="name">
                        <input type="email"[formControl]="email" placeholder="Email" name="email" id="email">
                        <br>
                        <label for="entidad" style="color: aliceblue;margin-left: 10px;">Entidad:</label>
                        <select  id="entidad" name="entidad">
                          <option value="empresa">Empresa</option>
                          <option value="persona_natural">Persona Natural</option>
                        </select>
                        <br><br>
                           <input type="tel" name="NIT o cedula" placeholder="NIT o cedula " id="">                 
                           <input type="password"[formControl]="passwc" placeholder=" Contraseña" name="password" id="password">
                        <input type="password"[formControl]="passwc" placeholder="Confirmar Contraseña" name="password" id="password">
                        <a class="ok-account" routerLink="/login">¿No tienes una cuenta?</a>
                   
                            <button type="button" class="btn" (click)="regiu()">
                                Registrarte
                             </button>
    
                        </form>
                      
            
            
                    <p class="account">No tienes una cuenta? <a href="#">Registrarte</a></p>
                     
                </div>
                <div class="form-img">
                    <img src="../../assets/Samayo.org-Blog-Web-Design-SEO-creazione-siti-web-blog-e-commerce-Ayouni-Housam-131-1536x1536.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../../assets/logo_azul_eafit (1).png" alt="Logo de SLee Dw">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>ESTRAMIPYME</p>
                <p>Ayudamos hacer tus objetivos realidad</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/universidadeafit" > <img src="../../assets/Añadir_un_subtítulo-removebg-preview (1).png"  width="40px" height="40px" ></a>
                    <a href="https://www.instagram.com/eafit/" ><img src="../../assets/1-removebg-preview.png" alt="" width="40px" height="40px"></a>
                    <a href="https://www.youtube.com/@ueafit" ><img src="../../assets/2-removebg-preview.png" alt="" width="40px" height="40px"></a>
  
                </div>
            </div>
        </div>
     
      <div class="burbujas">
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
     </div>

    </footer>
    
  