
<br><br><br>

<h1 >ESTRAMIPYME</h1>  
<a href="https://editorial.eafit.edu.co/index.php/editorial/catalog/view/195/267/915">
   <img class="imgt" src="../assets/Samayo.org-Blog-Web-Design-SEO-creazione-siti-web-blog-e-commerce-Ayouni-Housam-131-1536x1536.png" alt="" >
</a>
   <iframe class="video"
     width="390" height="395" src="../../assets/geralmp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="noticia">
  
   <aside ><a href="https://www.eafit.edu.co/docentes-investigadores/Paginas/luz-maria-rivas-montoya.aspx"> <img class="izquierda" src="../../assets/luz.png"></a>
      Manizales,MBA- Instituto Tecnológico deMonterrey en 
      convenio <br> con Universidad Autónoma de Bucaramanga,
      maestría en Ciencias <br> de la Administración de la 
      Universidad EAFIT y estudiante de tercer <br> año de 
      Doctorado en Administración de la Universidad EAFIT 
      en <br> convenio con HEC de Montreal. Se ha despeñado como
      profesora <br> tiempo completo de Estrategia en la Universidadbr
      EAFIT; Gerente <br> de Suratep (hoy ARP SURA) Oficina Manizales,
      directora administrativa<br> de la Universidad  Autónoma de 
      Manizales y decana de la Facultad de <br> Economía de esta misma 
      universidad..</aside>
   <div class="reset"></div>
 </div>
 <br><br><br>
 <div class="noticia">

   <aside  ><a href="https://www.eafit.edu.co/docentes-investigadores/Paginas/martha-eugenia-reyes-sarmiento.aspx"> <img class="derecha" src="../../assets/martha.png" ></a>
      ​Ph.D en Administración de la Universidad EAFIT con pasantía de<br> investigación
       de la Univesidad de Zürich y becaria Colciencias.<br> Desarrollé junto a mi directora de tesis,
        la profesora Luz María Rivas Montoya Ph.D.,<br>
         la metodología trusting. Con un enfoque hacia el practicante de la estrategia.<br> Tengo especial interés en la investigación, docencia y la práctica.<br>
          Mis temas de interés son: estrategia, estrategia como práctica, confianza, desarrollo <br> endógeno y metodologías cualitativas. He participado como voluntaria en la Red de Pacientes<br> por la Seguridad del Paciente para Colombia, reconocida por la Organización Mundial de la Salud (OMS). </aside>
   <div class="reset"></div>
 </div>
 







<div class="container "><div class=" card__container  ">
 
          <article class="card__article">
             <img src="../../assets/1.png" alt="image" class="card__img">
   
             <div class="card__data">
                <span class="card__description"> La primera etapa del diagnóstico estratégico se centra
                   en evaluar tanto los recursos internos de la empresa como las condiciones externas del 
                   mercado. Su propósito es identificar las fortalezas, debilidades, oportunidades y amenazas
                    que impactan en la organización.</span> 
                    <a class="ok-account" href="/nosotros" style="text-decoration: none;color: #000;">ver más</a>
             </div> 
          </article>
      

          <article class="card__article">
             <img src="../../assets/2.png" alt="image" class="card__img">
   
             <div class="card__data">
                <span class="card__description">se enfoca en identificar el desafío estratégico más c
                  rítico de la empresa, comprender su entorno y recursos internos, establecer políticas 
                  sclaras para abordar estos desafíos de manera efectiva, y diseñar acciones
                   alineadas con estas políticas para alcanzar los objetivos estratégicos del negocio.</span>
                   <a class="ok-account" href="/nosotros" style="text-decoration: none;color: #000;">ver más</a>


                  
             </div>
          </article>
   
          <article class="card__article">
             <img src="../../assets/3.png" alt="image" class="card__img" routerLink="/nosotros">
   
             <div class="card__data">
                <span class="card__description" >se enfoca en desarrollar una propuesta de 
                  valor final en colaboración con los stakeholders clave del negocio. Este proceso
                   implica revisar y validar el modelo de negocio, asegurando que la estrategia esté
                    alineada con los atributos de diferenciación 
                  seleccionados y satisfaga las necesidades  prioritarias del segmento de mercado.</span>

<a class="ok-account" href="/nosotros" style="text-decoration: none;color: #000;">ver más</a>
                  
             </div>
          </article>
         </div></div>

    <footer class="pie-pagina">
      <div class="grupo-1">
          <div class="box">
              <figure>
                  <a href="#">
                      <img src="../../assets/logo_azul_eafit (1).png" alt="Logo de SLee Dw">
                  </a>
              </figure>
          </div>
          <div class="box">
              <h2>SOBRE NOSOTROS</h2>
              <p>ESTRAMIPYME</p>
              <p>Ayúdanos a hacer tus objetivos realidad.</p>
          </div>
          <div class="box">
              <h2>SIGUENOS</h2>
              <div class="red-social">
                  <a href="https://www.facebook.com/universidadeafit" > <img src="../../assets/Añadir_un_subtítulo-removebg-preview (1).png" alt="" ></a>
                  <a href="https://www.instagram.com/eafit/" ><img src="../../assets/1-removebg-preview.png" alt=""></a>
                  <a href="https://www.youtube.com/@ueafit" ><img src="../../assets/2-removebg-preview.png" alt="" ></a>

              </div>
          </div>
      </div>
      <div class="burbujas">
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
         <div class="burbuja"></div>
     </div>
  </footer>
  
